{%extends 'base.html'%}
{% load static %}
{% load mathfilters %}

{%block content%}
        <!-- Single Page Header start -->
        <div class="container-fluid page-header py-5" >
            <h1 class="text-center text-white display-6">Food</h1>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active text-white">Food</li>
            </ol>
        </div>
        <!-- Single Page Header End -->

        {% if request.user.is_food %}
        <div class="container" style="margin-top:5vh;">
            <div class="row g-4" id="products">
                {% if products %}
                    {% for product in products %}
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <a href="{% url 'shop-details' product.id %}">  
                            <div class="rounded position-relative fruite-item">
                                <div class="fruite-img">
                                    <img src="{{ product.Image.url }}" class="img-fluid w-100 rounded-top" alt="{{ product.Name }}">
                                </div>
                                <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">
                                    Eco-Friendly
                                </div>
                                <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                    <h4>{{ product.Name }}</h4>
                                    <p style="display: block; width: 100px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{ product.Description }}</p>
                                    <div class="d-flex justify-content-between flex-lg-wrap">
                                        <p class="text-dark fs-5 fw-bold mb-0">{{ product.Price }}Rs/{{ product.units }}</p>
                                        <button onclick="addToCart({{ product.id }})" class="add-to-cart btn border border-secondary rounded-pill px-3 text-primary" data-product-id="{{ product.id }}">
                                            Add to cart
                                        </button>
                                        
                                    </div>
                                </div>
                            </div>
                        </a>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No items to display</p>
                {% endif %}
            </div>
        </div>
       
         {% else %}
         <br><br><br>
         <h1 class="mb-4">You Don't Have Access To This Page !</h1>
         <h3 class="mb-4">Please Contact us For Access</h3>
         <br><br><br>
         <script type="text/javascript">
            var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
            (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/669e14efbecc2fed6928c88e/1i3co3ibv';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
            })();
            </script>
         {% endif %}
         
<script>
    function addToCart(productid) {
        const url = "{% url 'add_to_cart' 0 %}".replace('0', productid);
        
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',  // Ensure you include CSRF token for security
            },
            body: JSON.stringify({ productid: productid })
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);  // Handle response data
            alert('Product added to cart');
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Failed to add product to cart');
        });
    }
</script>
{%endblock%}

{% block script %}
<script>
    async function load_food_card(){
        var data = await getLocation();
        document.querySelector('#food_items').innerHTML = "";
        data.forEach(element => {
            document.querySelector('#food_items').innerHTML += `<div class="col-md-6 col-lg-6 col-xl-4">
                                    <div class="rounded position-relative fruite-item">
                                        <div class="fruite-img">
                                            <img src="{% static '${element.Image.url}' %}" class="img-fluid w-100 rounded-top" alt="">
                                        </div>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Fruits</div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <h4>${element.Name}</h4>
                                            <p>Quantity:3 packets</p>
                                            <p>Time:6hrs</p>
                                            <p>Type of Food:fried rice</p>
                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                <p class="text-dark fs-5 fw-bold mb-0">20rs</p>
                                                <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>`;
        });
    }
    load_food_card();
</script>
{% endblock script %}